<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/mydb</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.statement_cache.size">40</property>

        <mapping class="ObjectTable.Adjudication"></mapping>
        <mapping class="ObjectTable.Assessor"></mapping>
        <mapping class="ObjectTable.Cause"></mapping>
        <mapping class="ObjectTable.Court"></mapping>
        <mapping class="ObjectTable.CourtWork"></mapping>
        <mapping class="ObjectTable.Documents"></mapping>
        <mapping class="ObjectTable.Evidence"></mapping>
        <mapping class="ObjectTable.Judge"></mapping>
        <mapping class="ObjectTable.OneParty"></mapping>
        <mapping class="ObjectTable.OtherParty"></mapping>
        <mapping class="ObjectTable.RepresentativesOnP"></mapping>
        <mapping class="ObjectTable.RepresentativesOthP"></mapping>
        <mapping class="ObjectTable.Request"></mapping>
        <mapping class="ObjectTable.Trial"></mapping>
        <mapping class="ObjectTable.Witness"></mapping>
        <mapping class="ObjectTable.Posit"></mapping>

    </session-factory>
</hibernate-configuration>